body {
	background-color: #bbbbbb;
	margin: 0px;
}

header {
	background-color: white;
}

header img{
	height: auto;
	width: 100%;
	
}

nav{
	background-color: #48bb68;
	height: 50px;
}

nav ul{
	margin: 0px;
}

nav a {
	text-decoration: none;
	color: #48bb68;
}

#main-nav ul li {
	float: left;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	vertical-align: center;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	
}


#temperature-buttons ul li {
	float: right;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	vertical-align: center;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: bold;
}

#temperature-buttons p{
	float:right;
	margin-right: 15px;
	color:white;
	font-weight:bold;
}


#main-content {
	background-color: white;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 20px;
}

#parkInfoTable td{
	padding: 20px;
}

.quote{
	text-align: center;
}

.quotesource{
	text-align: center;
}

#park-info .tableHeader{
	font-weight: bold;
	padding-right: 15px;
}

.weather {
	display: flex;
	align-items: center;
	margin-top: 40px;
}


.todayWeather{
	width: 28%;
}

.todayWeather p{
	margin-left:10%;
}

.todayWeather h4{
	text-align:center;
	margin: 0px;
}


.todayWeather img{
	/*height: 300px;
	width: auto;*/
	width: 100%;
	height:auto;
}

.weekDayWeather{
	width: 17%;
}

.weekDayWeather p{
	margin-left: 20%;
}


.weekDayWeather img{
	/*height: 200px;
	width: auto;*/
	width: 100%;
	height:auto;
}

.formItem {
	margin-top:10px;
	margin-bottom: 10px;
}

.formItem label{
	text-align: right;
}

.formItem input{
	margin-left: 15px;
	margin-right: 7px;
}

.error{
	color:red;
}

.parkImg {
	height: 200px;
	width: auto;
}

#surveyResults td{
	padding: 15px;
	text-align: center;
}
